<component name="ArtifactManager">
  <artifact type="war" name="spring-mongo-blog:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="DataAcquisitionSystems.war">
      <element id="artifact" artifact-name="spring-mongo-blog:war exploded" />
    </root>
  </artifact>
</component>